*{
    margin : 0px;
    
    padding-top: 20px;
    text-align: center;
    box-sizing: border-box;
}
html, body{
    font-family: Roboto, sans-serif, arial;
    font-size: 16px;
    color: #242424;
    background: rgb(235, 238, 239);
}
.left{
    padding-left: 150px;
    
    text-align: left;
    
}
nav{
    float: left;
    padding: 25px 0px;
}
nav a{
    flex-basis: 31;;
    color: black;
    text-decoration: underline;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 2px 10px;
    font-weight: 500;
    transition: 0.5s;

}
.right{
    float: right;
    padding-right: 200px;
}
.begin{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    flex-direction: column;
    position: relative;
    text-align: center;
    padding-top: 200px;
    padding-left: 200px;
    padding-bottom: 100px;
}
.begin h1{
    font-size: 42px;
    color: #333;
    line-height: 1,2;
}
.begin p{
    font-size: 30px;
    font-style: italic;
    
}
.begin button{
    color: white;
    background-color: rgb(30, 169, 255);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 12px 30px;
    margin-top:40px;
}
.image img{
  padding-top: 100px;
    float: right;
    padding-left: 100px;
    
    width: 500px;
    

}


